@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-lavishly: "Lavishly Yours", cursive;
  --font-big-shoulders: "Big Shoulders Display", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --Background-Linear-Green: linear-gradient(
      192deg,
      #93ffc6 0%,
      #005229 100%
    );
    --Background-ThepDoThanhDong: linear-gradient(
      192deg,
      #fddcdc 0%,
      #8b1e1e 100%
    );
    --Text-ThepDoThanhDong: linear-gradient(
      192deg,
      #ed778a -0.03%,
      #8b1e1e 99.97%
    );
  }
}

@layer base {
  .font-lavishly {
    font-family: var(--font-lavishly), cursive;
  }
  .font-big {
    font-family: var(--font-big-shoulders), sans-serif;
  }
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
}

body {
  background: var(--Background-ThepDoThanhDong);
  color: var(--foreground);
  /* font-family: var(--font-geist-sans), Arial, sans-serif; */
}
